<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v2.dtd">
<config>
	<module name="controler" >
		<param name="lastIteration" value="100" />
		<!-- Possible values: failIfDirectoryExists, overwriteExistingFiles, deleteDirectoryIfExists -->
		<param name="overwriteFiles" value="deleteDirectoryIfExists" />
		<!-- iterationNumber % writeEventsInterval == 0 defines in which iterations events are written to a file. `0' disables events writing completely. -->
		<param name="writeEventsInterval" value="1" />
		<param name="writeSnapshotsInterval" value="1" />
	</module>
	<module name="network" >
		<param name="inputNetworkFile" value="network.xml" />
	</module>
	<module name="planCalcScore" >
		<parameterset type="scoringParameters" >
			<parameterset type="activityParams" >
				<param name="activityType" value="h" />
				<param name="minimalDuration" value="08:00:00" />
				<param name="typicalDuration" value="12:00:00" />
			</parameterset>
			<parameterset type="activityParams" >
				<param name="activityType" value="w" />
				<param name="closingTime" value="18:00:00" />
				<param name="latestStartTime" value="09:00:00" />
				<param name="openingTime" value="07:00:00" />
				<param name="typicalDuration" value="02:00:00" />
			</parameterset>
			<parameterset type="modeParams" >
				<param name="mode" value="car" />
			</parameterset>
			<parameterset type="modeParams" >
				<param name="mode" value="pt" />
			</parameterset>
		</parameterset>
	</module>
	<module name="plans" >
		<param name="inputPlansFile" value="plans2000.xml" />
	</module>
	<module name="strategy" >
		<parameterset type="strategysettings" >
			<!-- strategyName of strategy.  Possible default names: SelectRandomBestScoreKeepLastSelectedChangeExpBetaSelectExpBetaSelectPathSizeLogit (selectors), ReRouteTimeAllocationMutatorTimeAllocationMutator_ReRouteChangeSingleTripModeChangeTripModeSubtourModeChoice (innovative strategies). -->
			<param name="strategyName" value="BestScore" />
			<!-- weight of a strategy: for each agent, a strategy will be selected with a probability proportional to its weight -->
			<param name="weight" value="0.9" />
		</parameterset>
		<parameterset type="strategysettings" >
			<param name="strategyName" value="ReRoute" />
			<param name="weight" value="0.1" />
		</parameterset>
	</module>

</config>
